* {
	margin: 0;
	padding: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
	background: linear-gradient(blue, red );
	background-repeat: no-repeat;
	height: 100%;
	margin: 0;
	background-attachment: fixed;
	display: block;

}

header {
	display: inline-block;
	display: flex;
	margin: 1px;
}

#presentacion {
	width: 20%;
}

#navegacion {
	width: 80%;
	justify-content: right;
	display: flex;
}

header nav {
	padding: 10px;
	width:fit-content;
}

nav ul {
	list-style-type: none;
	display: flex;
	margin: 0;
}

nav li {
	margin: 0;
	padding: 10px;
}

nav li a {
	text-decoration: none;
}

main {
	text-align: center;
	justify-content: center;
	display: flex;
}

.custom-select {
	display: flex;
	flex-direction: column;
	position: relative;
}


.option {
	padding: 0 30px 0 30px;
	min-height: 40px;
	display: flex;
	align-items: center;
	background: #ccc;
	position: absolute;
	pointer-events: none;
	order: 2;
	z-index: 1;
	overflow: hidden;
	white-space: nowrap;
}

.option:hover {
	background: #5d5c63;
}

.option-select {
	
}

.custom-select .option {
	position: relative;
	pointer-events: all;
}

.all {
	width: 70%;
	display: block;
}

.all section {
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: aliceblue;
	width: 100%;
	display: inline-block;
}

.titulo {
	padding: 10px;
	text-align: center;
}

a {
	color: #00babc;
	text-decoration: none;
	text-transform: uppercase;
}

li:hover {
	background-color:rgb(169, 236, 233) ;
}

section li {
	padding: 10px;
	list-style-type: none;
}
